.container{
    text-align: center;

}


.calculator{
    margin: auto;
    border: 2px solid black;
    width: 340px;
    height: 380px;
    border-radius: 10px;
}


table{
    margin: auto;
}

button
{
    border-radius: 10px;
    width: 54px;
    height: 50px;
    margin: 2px;
}

input{
    width: 235px;
    height: 38px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

button:hover
{
    background-color: blue;
}